.tree-container {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    height: 90%;
    font-family: Consolas, "Courier New", monospace;
    overflow-y: auto;
  }
  
  .tree-list {
    list-style: none;
    padding-left: 0;
  }
.tree-item {
    list-style: none;
    padding-left: 0;
  }
  
  .tree-row {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .tree-row:hover {
    background-color: #e3f2fd;
  }
  
  .tree-row.directory {
    font-weight: bold;
    /* color: #f0a500;  */
  }
  
  .tree-icon {
    margin-right: 8px;
  }
  
  .tree-label {
    flex-grow: 1;
  }
  
  .action-icons {
    display: none;
  }
  
  .tree-row:hover .action-icons {
    display: flex;
  }
  
  .icon {
    margin-left: 8px;
    cursor: pointer;
  }
  
  .icon:hover {
    color: gray;
  }
  
  .tree-children {
    margin-left: 20px;
    border-left: 1px solid #555;
    padding-left: 10px;
  }
  